@font-face{
  font-family: "Roboto";
  src: url(roboto/Roboto-Regular.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
body{
  /*background-image: url('240_F_93239630_Ied7ydOXdKKnLCb6WlQJBmYVSrjTF7gO.jpg');*/
}
#name{
  font-weight: bold;
  font-size: 1.25em;
}
.ul_padding{
  padding-left: 20px;
  -webkit-padding-start: 20px;
}
.ul_margin{
  margin-top: 4px;
  margin-bottom: 4px;
}
.li_bottom_margin_and_word_break{
  word-wrap: break-word;
  margin-bottom: 3px;
}
.topic{
  font-size: 1em;
  color: #2980b9;
  clear: both;
}
.position{
  font-size: 1em;
  margin-bottom: 0.2em;
}
.sub_topic_seperator{
  border-top: 0.15em dotted #8c8b8b;
  width: 100%;
  clear: both;
}
.topic_seperator{
  margin-left: 0px;
  height: 2px;
  background-color: #2980b9;
  border: none;
  margin-top: 2px;
}
.company_name{
  color: #2980b9;
  /*font-size: 16px;
  margin-bottom: 7px;*/
  font-size: 0.85em;
  margin-bottom: 0.2em;
}
.roboto{
  font-family: "Roboto";
}
a{
  color: #2980b9;
}
.fa{
  color: #2980b9;
}
.fa-at{
  font-size: 0.9em;
}
.fa-mobile{
  font-size: 1.1em;
}
.fa-map-marker{
  margin-right: 0.3em;
  font-size: 1.1em;
}
.fa-diamond, .fa-download{
  margin-right: 0.3em;
  font-size: 0.75em;
}
.fa-code-fork{
  font-size: 1em;
}
.fa-diamond{
  color: #e9573f;
}
.contact_me_content{
  font-size: 0.7em;
  float: left;
}
#container1{
  height: 4em;
  margin-bottom: 0.1em;
  margin-top: 0.2em;
  /*height: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;*/
}
.left_container{
  float: left;
  width: 50%;
}
.right_container{
  width: 50%;
  float: right;
}
.left_sub_container{
  width: 98%;
}
.right_sub_container{
  width: 100%;
  margin-bottom: 0.6em;
}
.left_margin_point_2em{
  margin-left: 0.2em;
}
.right_margin_1em{
  margin-right: 1em;
}
#photo img{
  border-radius: 100%;
  float: right;
  width: 5em;
  height: 5em;
}
.discription{
  font-size: 0.7em;
  clear: both;
}
.float_left{
  float: left;
}
.total_experience{
  font-size: 0.8em;
  color: black;
}
.exp_time_place{
  font-size: 0.7em;
}
.exp_time_place div{
  width: calc(100% / 2);
  float: left;
  /*margin-right: 0.5em;*/
  /*box-sizing: border-box;*/
  /*width: calc(100% / 2);*/
}
.clear{
  clear: both;
}
.exp_time_place .fa, .edu_content .fa, .certi_content .fa{
  margin-right: 0.3em;
  font-size: 1.1em;
}
.edu_content, .certi_content{
  font-size: 0.7em;
  /*height: 1em;*/
}
.edu_content:after, .certi_content:after{
  clear: both;
  display: block;
  content: "";
}
.edu_content div{
  float: left;
  margin-right: 9px;
}
/*.edu_content .score{
  width: 20%
}
.edu_content .date{
  width: 40%
}
.edu_content .location{
  width: 30%
}*/
.fa-certificate, .fa-github, .fa-wrench{
  margin-right: 0.25em;
}
.certi_by{
  font-size: 0.9em;
}
.certi_content div{
  float: left;
}
.certi_content .score{
  width: 20%;
}
.certi_content .date {
  width: 35%;
}
.certi_content .location{
  width: 32%;
}
.certi_content_n_logo:after{
  clear: both;
  content: '';
  display: block;
}
.certi_content_n_logo .content{
  width: 75%;
}
.logo {
  width: 25%;
}
.logo img{
  height: 2.3em;
  width: 5.6em;
}
.open_source_title{
  font-size: 0.85em;
}
.open_source_title a{
  color: black;
}
.no_text_decoration{
  text-decoration: none;
}
.skills_and_strengths_category{
  font-size: 0.85em;
}
.skills_and_strengths_content{
  font-size: 0.7em;
}
